@import './../../../../assets/styles/variables';

/* COPYRIGHT */
.copyright {
  width: 100%;
  background-color: $primary-color;
  padding: 20px 0;
}
.copyright p {
  font-family: Arial, Helvetica, sans-serif;
  color: $black;
}
