<footer>
  <div class="footer-black">
    <div class="container">
      <div class="grid-8 footer_history">
        <h3>Nossa história</h3>
        <p>
          Quando iniciamos a Bikcraft queriamos apenas um produto que adoraríamos utilizar. Eramos apaixonados por
          pedalar e também por fazer as coisas com as nossas próprias mãos. Assim surgiu um sonho na garagem da nossa
          casa.
        </p>
      </div>

      <div class="grid-4 footer_contact">
        <h3>Contato</h3>
        <ul>
          <li>- 11 9999-9999</li>
          <li>- contato@bikcraft.com</li>
          <li>- São Paulo - SP</li>
        </ul>
      </div>

      <div class="grid-4 footer_social">
        <h3>Redes sociais</h3>
        <ul>
          <li><a href="https://facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
          <li><a href="https://instagram.com" target="_blank"><i class="fab fa-instagram"></i></a></li>
          <li><a href="https://twitter.com" target="_blank"><i class="fab fa-twitter"></i></a></li>
        </ul>
      </div>
    </div>
  </div>

  <app-copyright></app-copyright>
</footer>
